.App {
  text-align: center;
}

.App-logo {
  height: 10rem;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bg{
  background-color: #282c34;
  margin-top: 200px;
  padding:5%;
  color: white;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

