@font-face {
  font-family: Barlow;
  src: url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Montserrat:wght@500&display=swap');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  padding-left: 5%;
  padding-right: 5%;
}

.card {
  margin-bottom: 2%;
}

.page-format{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar{
    width: 15vw;
}

.sidebar nav ul li:hover{
    background-color: khaki;
}

.logo-img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.page-content{
    width: 85vw;
}

.header{
    height: 15%;
    width: 100%;
    border-bottom: 1px solid rgb(214, 214, 214);
    font-family: 'Barlow', sans-serif;
    color: rgb(27, 27, 27);
    letter-spacing: 5px;
}

.user-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.on-off-count .count{
    height: 10px;
    width: 10px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

  .justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; }